$baseFontFamily: HARABARAHAND;
@import url(http://www.fontsquirrel.com/fonts/HarabaraHand); 

$baseFontSize: 16px;

$btnPrimaryBackground: gray;
$navbarBackgroundHighlight: white;
$navbarBackground: white; 

@import 'bootstrap';

